include ucl-study-journal AUTHORS COPYING NEWS
recursive-include extra *
recursive-include data *
recursive-include po *
recursive-include src *.py
recursive-include extension *.py
recursive-include fungtk *.py README*
exclude src/hamster_graphics/*
